$fontWeights: ("first": 400, "second": 600, "bold": 700);

@mixin fontWeights($weight) {
  font-weight: map-get($fontWeights, $weight);
}

@mixin links {
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin mainLogo {
  display: flex;

  span {
    @include fontWeights("second");
    display: block;
    font-size: 10px;
  }

  p {
    display: flex;
    @include fontWeights("second");
    margin: 5px 0 0 13px;
    font-size: 24px;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
  }

  img {
    height: 44px;
    width: 44px;
  }
}

@mixin buttons {
  @include fontWeights("second");
  background-color: $colorBtn;
  text-align: center;
  font-size: 16px;
  border: inherit;
  border-radius: 5px;
  color: #fff;
  padding: 17px 42px;
}

@mixin bgSome($width, $height, $left, $bottom) {
  position: relative;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    width: $width;
    height: $height;
    background-color: $bgSome;
    z-index: -1;
    left: $left;
    bottom: $bottom;
  }
}

body {
  font-family: $fontMain;
  margin: 0;
  background: $bgMain;
  box-sizing: border-box;
  color: $colorText;
}

.landing-logo {
  @include mainLogo;
}

header {
  padding-bottom: 173px;
  padding-top: 19px;
  border-bottom-right-radius: 50em 17em;
  background: ($bgHeader) center no-repeat;
  background-size: cover;
}

.header-wrap {
  margin: 0 auto;
  width: 79%;

  .header_heading {
    margin: 1em 0 0 0;
    @include fontWeights("bold");
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 71px;
    width: 40%;
    line-height: 1em;
    @include bgSome(304px, 50px, 0px, 0px);
  }

  .header_button {
    @include buttons();
  }

  .login {
    @include links();
    @include fontWeights("second");
    margin: 0 0 0 150px;
    color: #fff;
    font-size: 20px;
  }

  .header_text {
    font-size: 16px;
    white-space: pre-line;
    margin: 30px 0 55px;
  }
}

main {
  margin: 0 auto;
  width: 64%;

  .section_text {
    @include fontWeights("second");
    @include bgSome(185px, 50px, 600px, 8px);
    font-size: 41px;
    margin: 35px auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .section_card {
    background-color: $bgSection;
    display: flex;
    width: 85%;
    margin: 24px auto;
    align-items: center;
    padding: 19px;
    border-radius: 5px;

    .section_card_img {
      border-radius: 5px;
      width: 100%;
      height: auto;
    }

    .section_card_right_container {
      text-align: center;

      .section_card_heading {
        @include fontWeights("second");
        color: #fff;
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
      }

      .section_card_text {
        font-family: $fontMain;
        margin: 15px 90px;
        text-align: justify;
        color: #C0C3C4;
      }

      .section_link {
        color: #C0C3C4;
        margin-bottom: 5px;
      }
    }
  }

  .section_banner {
    position: relative;
    z-index: 2;
    width: 97%;
    margin: 147px auto -72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, $colorBannerFirst, $colorBannerSecond);
    border-radius: 5px;


    .section_banner_text_wrap {
      margin-left: 100px;
      height: 144px;
      padding-left: 60px;

      .section_banner_heading {
        @include bgSome(65px, 50px, 120px, 0px);
        @include fontWeights("bold");
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
        color: $colorText;
        margin: 24px 0 0.5em 0;

      }

      .section_banner_text {
        font-size: 16px;
        color: #C0C3C4;
        font-family: $fontMain;
      }
    }

    .section_banner_button {
      @include buttons();
      margin-right: 10em;
    }
  }
}

.footer {

  .footer-wrap {
    @extend .header-wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0 20px 0;

    .footer_text {
      width: 20%;
      font-size: 14px;
    }
    .footer-cr {
      font-size: 10px;
      text-align: center;
    }
  }

  background: $bgSection;
  color: $colorFooter;
}