$fontMain: 'Hind', sans-serif;
$bgHeader: url('../img/m-h-day.jpg');
$bgMain: #fff;
$bgSection: #22222E;
$bgSome: #13A1C7;
$colorBannerFirst: #679700;
$colorBannerSecond: #3E5CD5;
$colorBtn: #689801;
$colorText: #3C3F3C;
$colorFooter: #C0C3C3