$fontMain: 'Fresca', sans-serif;
$bgHeader: url('../img/m-h-night.jpg');
$bgMain: #22242E;
$bgSection: #4B3F50;
$bgSome: #FF4E34;
$colorBannerFirst: #E2AB03;
$colorBannerSecond: #902B53;
$colorBtn: #E3AC04;
$colorText: #fff;
$colorFooter: #C0C3C4